@import url(reset.css);

html, body {
  height: 100%;
}

header {
  height: 150px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #F2C14E; /* Для браузеров, которые не поддерживают градиенты */
  background: -webkit-linear-gradient(left, #F2C14E, #F78154);
}

section {
  width: 500px;
  margin: 0 auto;
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.calculator-block {
  margin: 100px auto 0;
  height: 500px;
  width: 400px;
  background-color: rgba(84, 109, 255, 0.31);
  border: 3px black solid;
  box-shadow: 0 0 15px;
}

.display__input {
  height: 150px;
  width: 100%;
  font-size: 70px;
  padding: 5px;
  border: 3px black solid;
  border-radius: 3px;
}

.button-block {
  margin-left: 14px;
  margin-top: 25px;
}

.button-block__number {
  background-color: #dff5ff;
}

.button-block button:active {
  background-color: #F78154;
}

.button-block__button, .button-block__button_special {
  height: 60px;
  width: 70px;
  border: 1px black solid;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.button-block__number {
  background-color: #dff5ff;
}

.button-block__button_null {
  width: 144px;
}

.button-block__button_equal {
  height: 60px;
  width: 70px;
  border: 1px black solid;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.footer-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

@media screen and (max-width: 720px) {
  header {
    height: 30px;
  }

  .calculator-block {
    margin: 50px auto 0;
    height: 500px;
    width: 330px;
  }

  .button-block__button, .button-block__button_special {
    height: 55px;
    width: 55px;
    margin-top: 1px;
    border: 1px black solid;
    border-radius: 5px;
    background-color: #f1f1f1;
  }

  .button-block__number {
    background-color: #dff5ff;
  }

  .button-block__button_null {
    width: 114px;
  }

  section {
    width: 360px;
    margin: 0 auto;
    flex: 1 0 auto;
  }

  footer {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  header {
    height: 30px;
  }

  .calculator-block {
    margin-top: 10px;
    height: 450px;
    width: 300px;
  }

  .button-block__number {
    background-color: #dff5ff;
  }

  .button-block__button, .button-block__button_special {
    height: 45px;
    width: 50px;
    margin-top: 1px;
  }

  .button-block__button_null {
    width: 104px;
  }

  section {
    width: 320px;
  }
}






